main {
	position: absolute;
	top: 64px;
	bottom: 0;
}

.headerbar {
	position: fixed !important;
	top: 0;
}

.timetable th, .timetable td {
	font-size: 10px !important;
	text-align: center !important;
	border-left: 1px solid rgb(224, 224, 224);
	padding: 0 !important;
}

.timetable th:first-child {
	width: 7%;
}
