main {
	position: absolute;
	bottom: 0;
	right: 0;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.headerbar {
	position: fixed !important;
	top: 0;
	text-align: center;
}

.timetable tr:last-child {
	border-bottom: none !important;
}

.timetable th, .timetable td {
	text-align: center !important;
	box-shadow: 0 0 0 1px rgb(224, 224, 224) inset;
	padding: 0 !important;
	text-overflow: clip !important;
	box-sizing: border-box;
}

.timetable th small, .timetable td small {
	display: block;
	font-size: 50% !important;
}

.timetable th:first-child {
	width: 7%;
}

.timetable thead {
	border: none !important;
}

.timetable thead tr {
	height: 7% !important;
}

.timetable thead th {
	vertical-align: bottom;
	height: initial !important;
	box-shadow: none;
	border-right: 1px solid rgb(224, 224, 224);
}

.timetable-subject {
	display: table-cell;
	vertical-align: middle;
	min-width: 0 !important;
	line-height: initial !important;
	border-radius: 0 !important;
}

.timetable-subject:hover {
	opacity: 0.5;
}

.timetable td:not(:empty) {
	border: none;
}
