main {
	position: absolute;
	top: 64px;
	bottom: 0;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.headerbar {
	position: fixed !important;
	top: 0;
	text-align: center;
}

.timetable tr:last-child {
	border-bottom: none !important;
}

.timetable th, .timetable td {
	text-align: center !important;
	border-left: 1px solid rgb(224, 224, 224);
	padding: 0 !important;
	text-overflow: clip !important;
	box-sizing: border-box;
}

.timetable th small, .timetable td small {
	display: block;
	font-size: 50% !important;
	color: #666;
}

.timetable th:first-child {
	width: 7%;
}
